.ui.menu.borderless {
    background-color: seashell;
}

body {
    background-color: seashell !important;
}

.ui.container.home {
  font-size: large;
}

.additional {
  background-color: seashell;
  margin-top: 100px;
}

.ui.landing.image {
    padding-top: 15px;
}

.financial {
  margin-top: 20px;
}

.financial p {
    font-size: large;
    text-align: center;
}

.addfinancial {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.ui.header.financialHeader {
  margin: 10px;
  padding-top: 50px;
}

.ui.container.additional {
  padding-top: 80px;
}

.ui.grid.celled {
  padding-top: 45px;
}

.ui.header.studentheader {
  padding-top: 70px;
}

.ui.header.mission {
  padding-top: 20px;
}

.intro {
  padding-bottom: 20px;
  font-size: large;
}

.faq {
    margin-top: 20px;
    font-size: large;
}

.student {
  background-color: seashell;
}

.sign-in {
  padding-top: 500px;
}

.home {
  padding-bottom: 30px;
}

.table {
  font-size: large;
  padding-bottom: 40px;
  text-align: center;
}

.ui.borderless.menu.fixed {
  background-color: skyblue;
}


