.ui.menu.top {
  background-color: seashell;
}

.ui.container.home {
  font-size: large;
}

.ui.landing.image {
  padding-top: 15px;
}

.financial {
  background-color: lightgreen;
  margin-top: 20px;
}

.addfinancial {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.financialHeader {
  margin: 10px;
}

body {
  background-color: seashell !important;
}